mainWindow {
    background-color: rgba(38, 38, 38, 0.56);
}

mainWindow QStatusBar {
    background-color: #cccccc;
}

#dayTable {
    border: 0;
    background-color: #3e3e3e;
    border-radius: 5px;
}

#dayTable QWidget {
    background-color: #8b8b8b;
    border-radius: 5px;
}
