mainWindow {
    background-color: rgba(38, 38, 38, 0.56);
}

mainWindow QStatusBar {
    background-color: #cccccc;
}

QWidget#monBar {
    border: 0;
    background-color: #006699;
    border-radius: 5px;
}

#body {
}
